<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/rainy-day.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div>
        <p>Hi! This Site was created by Palash Wani </p>
        </div>
        <img class="portrait" src="./img/WIN_20210325_10_35_56_Pro.jpg" alt="Could not load the image">
    </div>


    {{>footer}}
    
</body>

</html>